* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cart-item {
  margin: 2em;
  width: 35rem;
  background-color: #ff4500;
  border-radius: 2rem;
  font-size: x-small;
}
.cartname,
.cartitems {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.45rem;
}

.flexcart {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.35rem;
  margin-left: 5rem;
}

.img-push {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
}

.namebutton {
  display: flex;
  gap: 1.5rem;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
}

.clearcart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

@media (max-width:890px) {
  .cart-item {
    width: auto;
    margin: auto;
    margin-top: 2em;
    font-size: x-small;
  }
  }
